<ul>
    <button [routerLinkActive]="'active'"><a [routerLink]="'/technology/soft-engg/data-transformation'">Data Transformation</a></button>
    <button [routerLinkActive]="'active'"><a [routerLink]="'/technology/soft-engg/passport'">Passport</a></button>
    <button [routerLinkActive]="'active'"><a [routerLink]="'/technology/soft-engg/issac'">ISSAC</a></button>
    <button [routerLinkActive]="'active'"><a [routerLink]="'/technology/soft-engg/ecom'">Ecom</a></button>
</ul>
<router-outlet></router-outlet>
