<!-- <p>my-books works!</p> -->
<div class="book-catalog-container">
  <ng-container *ngIf="borrowedBooks.length > 0; else noBooks">
    <div *ngFor="let book of borrowedBooks" class="book-card">
      <mat-card class="custom-card">
        <img mat-card-image [src]="book.image" alt="{{ book.title }}">
        <div>
          <mat-card-content>
            <h3>{{ book.title }}</h3>
          </mat-card-content>
        </div>
        <div class="card-footer">
          <button mat-button color="warn" (click)="returnBookClick(book)">Return</button>
        </div>
      </mat-card>
    </div>
  </ng-container>

  <ng-template #noBooks>
    <h2 class="text-warning">You don't have any books to display. Please borrow some books.</h2>
  </ng-template>
</div>
