<ul>
    <button [routerLinkActive]="'active'"><a [routerLink]="'/technology/soft-engg/passport/pp1'">Passport-1</a></button>
    <button [routerLinkActive]="'active'"><a [routerLink]="'/technology/soft-engg/passport/pp2'">Passport-2</a></button>
    <button [routerLinkActive]="'active'"><a [routerLink]="'/technology/soft-engg/passport/pp3'">Passport-3</a></button>
    <button [routerLinkActive]="'active'"><a [routerLink]="'/technology/soft-engg/passport/pp4'">Passport-4</a></button>
</ul>
<router-outlet></router-outlet>
